body{

	font-family: 'Montserrat';
}
#title{
	color: #fff;
	background-color: #ff4c68;
}

.container-fluid{

	padding: 3% 15%;
}
  
h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5rem;
	line-height: 1.5;
}
h3{
	font-family: 'Montserrat-bold';

}
h2{
	font-family: 'Montserrat-bold';
}
p{
	color: #8f8f8f;
}

.navbar{
	padding: 0 0 4.5rem;

}

.navbar-brand{
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item{
	padding: 0 18px;
}

.title-img{
	width: 60%;
	transform: rotate(25deg);
}
.testimonials-img{
	width: 10%;
	margin: 20px;
	border-radius: 100%;
}

#features{
	padding: 7% 15%;
}

.features-box{
	text-align: center;
	padding: 4.6%;
}

.icon{
	color: #ef8172;
	margin-bottom: 1rem;
}
.icon:hover{
	color: #ff4c68;
}

/* testimonial section */

#testimonials{
	padding: 7% 15%;
	text-align: center;
	background-color:  #ff4c68;
	color: #fff; 
}

#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;	
}
.press-img{
	width: 15%;
	margin: 20px 20px 50px;
}



/* pricing */


#pricing{

	padding: 100px;
	text-align: center;

}

.pricing-colum{
	padding: 3% 2%;

}

@media (max-width: 1028px) {

	  #title{

	  	text-align: center;
	  }

	.title-img{
		position: static;
		transform: rotate(0);
		margin-top: 20px;
	}
}

#cta{
	background-color: #ff4c68;
	color: #fff;
	text-align: center;
	padding:  7% 15%;

}
.cta-heading{
	font-family: 'Montserrat-black';
	font-size: 3.5rem;

}

#footer{
	text-align: center;
	padding: 7% 15%;
}
.footer-icon{
	margin: 20px 10px;
}